<h1>I am the Restaurants view</h1>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= restaurant.name  %>/</li>
  <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
  <br />
<% end %>
<ul>
